body{
    background-color: ghostwhite;     
}

/*HEADER E RODAPE*/
body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho
{
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;    

}

.menu
{
    width: 30px;
    height: 2.5px;
    border-radius: 15px;
    background-color: white;
    margin: 5px 0;
}

.menu_conta
{
    width: 100%;
    height: 290px;
}

.lateral
{
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-right:1px outset black ;

    
  
}
.lateral
{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: absolute;
    left: -285px;

    
   
}
.animar
{
    animation: deslizar 2s forwards;
}
@keyframes deslizar
{
    0%{left:-285px;}    
    100%{left:0px;} 
}

.fechar
{
    margin-top: 15px;
    margin-left: 210px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;

}

.rodape
{
    height: 25px;
    width: 100%;
    background-color: #c0c0c094;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-size: 10px;
    color: #33333394;
}


.rodape2
{
    font-size: 18px;

    color: #333333;
}

.logoprinc{
    margin-bottom: 42px;
}

.logofut{
    width: -1px;
    margin-left: -40px;
   
}
/*HEADER E RODAPE*/

.red{
    width: 350px;
    height: 90px;
    margin-left: 5px;
    margin-top: -25px;
    align-items: center;
    display: flex;

}

.red2{
    width: 350px;
    height: 90px;
    margin-left: 5px;
    margin-top: -30px;
    align-items: center;
    display: flex;

}

.title{
    margin-left: 85px;
    width: 260px;
    color: brown;
}

.title2{
    margin-left: 115px;
    width: 90px;
    color: brown;
}

hr{
    width: 320px;
}

.ntc1{
    width: 100%;
    margin-top: 5px;
}

